@model IEnumerable<PCartWeb.Models.OrderList>

@{
    ViewBag.Title = "ToReceivePage";
}

<div class="container-fluid">
    <h2 style="margin: 25px 0 25px 0;">Order List</h2>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/Coopadmin/ViewOrderList" style="padding: 7px;">
                <img src="~/Images/to pay.png" alt="to ship icon" height="30" class="d-inline-block align-text-top">
                To Pay
            </a>
            <a class="navbar-brand" href="~/Coopadmin/ArrangePickUpList" style="padding: 7px;">
                <img src="~/Images/to ship.png" alt="to ship icon" height="24" class="d-inline-block align-text-top">
                Arrange Pick Up
            </a>
            <a class="navbar-brand" href="~/Coopadmin/ToShipPage" style="padding: 7px;">
                <img src="~/Images/to ship.png" alt="to ship icon" height="24" class="d-inline-block align-text-top">
                To Ship
            </a>
            <a class="navbar-brand" href="#" style="padding: 7px; background-color: darkgray; border-radius: 5px;">
                <img src="~/Images/to recieve.jpg" alt="to ship icon" height="24" class="d-inline-block align-text-top">
                To Recieve
            </a>
            <a class="navbar-brand" href="~/Coopadmin/CompletedPage" style="padding: 7px;">
                <img src="~/Images/completed.png" alt="to ship icon" height="24" class="d-inline-block align-text-top">
                Completed
            </a>
            <a class="navbar-brand" href="~/Coopadmin/ViewReturnRefund" style="padding: 7px;">
                <img src="~/Images/completed.png" alt="to ship icon" height="24" class="d-inline-block align-text-top">
                Return/Refund
            </a>
            <a class="navbar-brand" href="~/Coopadmin/CancelledPage" style="padding: 7px;">
                <img src="~/Images/cancelled.png" alt="to ship icon" height="24" class="d-inline-block align-text-top">
                Cancelled
            </a>
        </div>
    </nav>
    <div class="table-responsive">
        <table class="table" style="margin: 20px;">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.OrderNo)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Contact)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.TotalAmount)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Delivery_fee)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">
                            @Html.DisplayFor(modelItem => item.OrderNo)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Delivery_fee)
                        </td>
                        <td>
                            @Html.ActionLink("See Order", "OrderDetails", new { id = item.OrderNo })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>